.category-prev
  .category-prev__img(style="background-image:url('static/images/content/categories/category-prev-2.jpg')")
  .category-prev__body
    .category-prev__title
      span.category-prev__title-text Кровля
      span.category-prev__count 1234
    ul.category-prev__list
      li.category-prev__item
        a(href="").category-prev__link Металлочерепица
        span.category-prev__count 23
      li.category-prev__item
        a(href="").category-prev__link Элементы безопасности кровли
        span.category-prev__count 98
      li.category-prev__item
        a(href="").category-prev__link Лестницы
        span.category-prev__count 99
      li.category-prev__item
        a(href="").category-prev__link Мостики кровельные
        span.category-prev__count 98
      li.category-prev__item
        a(href="").category-prev__link Все водосточные системы
        span.category-prev__count 7