@import url('fonts.css');


body {
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-weight: 600;
}

h1 {
	text-align: center;
	text-transform: uppercase;
	font-weight: 900;
}

p {
	text-align: center;
}
