body {
	font-family: 'roboto';	
}

body h1 {
	text-align: center;
	text-transform: uppercase;
}

body .buttons {
	padding-bottom: 20px;
}

body .action {
	width: 30px;
	height: 30px;
}

body .result {
	min-width: 102px;
	min-height: 102px;
	border: 1px solid red;
	text-align: center;
    line-height: 102px;
    font-size: 4em;
}

body h3 {
	text-align: center;
}

body ol {
	margin: 10px 0;
}