.category-prev
  .category-prev__img(style="background-image:url('static/images/content/categories/category-prev-1.jpg')")
  .category-prev__body
    .category-prev__title
      span.category-prev__title-text Водосточные системы
      span.category-prev__count 1234
    ul.category-prev__list
      li.category-prev__item
        a(href="").category-prev__link Комплекты водосточных систем
        span.category-prev__count 23
      li.category-prev__item
        a(href="").category-prev__link Водосточные трубы
        span.category-prev__count 98
      li.category-prev__item
        a(href="").category-prev__link Желоб водосточных труб
        span.category-prev__count 99
      li.category-prev__item
        a(href="").category-prev__link Воронка желоба выпускная
        span.category-prev__count 98
      li.category-prev__item
        a(href="").category-prev__link Все водосточные системы
        span.category-prev__count 7