.category-prev
  .category-prev__img(style="background-image:url('static/images/content/categories/category-prev-4.jpg')")
  .category-prev__body
    .category-prev__title
      span.category-prev__title-text Профнастил
      span.category-prev__count 1234
    ul.category-prev__list
      li.category-prev__item
        a(href="").category-prev__link Все водосточные системы
        span.category-prev__count 7